.navigation-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation-bar li{
    float: left;
}

.navigation-bar li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-bar li a:hover {
    background-color: #111;
}

.system-message {
    max-width: 500px;
    margin: 20px auto;
}

.system-message p {
    margin-top: 20px;
}