<%- include('header') %>
<%- include('navigation-bar') %>
<%- include('message') %>
<div class="container">
    <div class="w3-content">
        <div class="w3-margin w3-card-4 w3-container">
            <script async defer src="https://buttons.github.io/buttons.js"></script>
            <h1>Awesome MIS for college students</h1>
            <div>
                <a class="github-button" href="https://github.com/songquanpeng" data-size="large" data-show-count="true" aria-label="Follow @songquanpeng on GitHub">Follow @songwonderful</a>
                <a class="github-button" href="https://github.com/LeeJiangWei" data-size="large" data-show-count="true" aria-label="Follow @LeeJiangWei on GitHub">Follow @LeeJiangWei</a>
                <a class="github-button" href="https://github.com/songquanpeng/awesome-mis" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star songwonderful/awesome-mis on GitHub">Star</a>
                <a class="github-button" href="https://github.com/songquanpeng/awesome-mis/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork songwonderful/awesome-mis on GitHub">Fork</a>
                <a class="github-button" href="https://github.com/songquanpeng/awesome-mis/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue songwonderful/awesome-mis on GitHub">Issue</a>
                <a class="github-button" href="https://github.com/songquanpeng/awesome-mis/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download songwonderful/awesome-mis on GitHub">Download</a>
            </div>
            <h3>Designed by <a href="https://github.com/LeeJiangWei"><strong>Lee</strong></a> and <a href="https://github.com/songquanpeng"><strong>Song</strong>.</a></h3>
            <h3>If you think it is helpful to you, please star it to support us, thanks.</h3>
            <br>
        </div>
    </div>
</div>
<%- include('footer') %>