<div class="container">
    <h2>Insert options</h2>
    <p>Insert whatever you what.</p>
    <div class="btn-group" style="width: 100%">
        <button type="button" class="btn btn-light" onclick="controlInsertForm('insert-student-form')">Student</button>
        <button type="button" class="btn btn-light" onclick="controlInsertForm('insert-teacher-form')">Teacher</button>
        <button type="button" class="btn btn-light" onclick="controlInsertForm('insert-course-form')">Course</button>
        <button type="button" class="btn btn-light" onclick="controlInsertForm('insert-cc-info-form')">Course Choosing
            Information
        </button>
    </div>
    <br>
    <br>
    <div>
        <form style="display:none" id="insert-student-form" action="/insert" method="post">
            <input type="text" name="type" value="student" style="display: none">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Entrance Age</th>
                    <th>Entrance Year</th>
                    <th>Major</th>
                    <th>Insert</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" name="studentID" required>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="name" required>
                    </td>
                    <td>
                        <select class="form-control" name="sex" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control" name="entranceAge" min="0" max="200" step="1"
                               required>
                    </td>
                    <td>
                        <input type="number" class="form-control" name="entranceYear" min="2000" max="2100" step="1"
                               required>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="major" required>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Insert</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <form style="display:none" id="insert-teacher-form" action="/insert" method="post">
            <input type="text" name="type" value="teacher" style="display: none">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Teacher ID</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Insert</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" name="teacherID" required>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="name" required>
                    </td>
                    <td>
                        <select class="form-control" name="sex" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Insert</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <form style="display:none" id="insert-course-form" action="/insert" method="post">
            <input type="text" name="type" value="course" style="display: none">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Name</th>
                    <th>Teacher ID</th>
                    <th>Credit</th>
                    <th>Grade</th>
                    <th>Canceled Year</th>
                    <th>Insert</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" name="courseID" required>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="name" required>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="teacherID" required>
                    </td>
                    <td>
                        <input type="number" class="form-control" name="credit" min="0" max="10" step="0.1"
                               required>
                    </td>
                    <td>
                        <input type="number" class="form-control" name="grade" min="1" max="10" step="1"
                               required>
                    </td>
                    <td>
                        <input type="number" class="form-control" name="canceledYear" min="2000" max="2100" step="1"
                               required>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Insert</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <form style="display:none" id="insert-cc-info-form" action="/insert" method="post">
            <input type="text" name="type" value="cc-info" style="display: none">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Course ID</th>
                    <th>Teacher ID</th>
                    <th>Chosen Year</th>
                    <th>Score</th>
                    <th>Insert</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" name="studentID" required>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="courseID" required>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="teacherID" required>
                    </td>
                    <td>
                        <input type="number" class="form-control" name="chosenYear" min="2000" max="2100" step="1"
                               required>
                    </td>
                    <td>
                        <input type="number" class="form-control" name="score" min="0" max="300" step="0.1"
                               required>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Insert</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
