<div class="navigation-bar">
    <ul>
        <li><a href="/" style="background-color: red">Home</a></li>
        <li><a href="/query">Query</a></li>
        <li><a href="/user">User</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>