<div class="navigation-bar" style="margin-bottom: 20px">
    <ul>
        <li><a href="/" class="w3-red">Home</a></li>
        <li><a href="/query">Query</a></li>
        <li><a href="/user">User</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>