<div class="container table-responsive" style="margin-bottom: 20px">
    <h2>Query options</h2>
    <p>Set the options below, then you can query records.</p>
    <form action="/query" method="post"> <!-- https://httpbin.org/post -->
        <div class="btn-group" data-toggle="buttons" id="qRadioGroup">
            <label  class="btn btn-light">
                <input  type="radio" name="queryType" value="student"> Student
            </label>
            <label  class="btn btn-light">
                <input  type="radio" name="queryType" value="teacher"> Teacher
            </label>
            <label  class="btn btn-light">
                <input  type="radio" name="queryType" value="course"> Course
            </label>
            <label  class="btn btn-light">
                <input  type="radio" name="queryType" value="cc-info"> Course Choosing
            </label>
            <label  class="btn btn-light">
                <input  type="radio" name="queryType" value="statistic"> Statistic
            </label>
        </div>
        <div id="qStudentTable" style="display:none">
            <table class="table">
                <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Entrance Age</th>
                    <th>Entrance Year</th>
                    <th>Major</th>
                    <th>Query</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" name="sID" placeholder="student ID"></td>
                    <td><input type="text" class="form-control" name="sName" placeholder="student's name"></td>
                    <td><input type="text" class="form-control" name="sSex" placeholder="student's sex"></td>
                    <td><input type="text" class="form-control" name="sEnAge" placeholder="entrance age"></td>
                    <td><input type="text" class="form-control" name="sEnYear" placeholder="entrance year"></td>
                    <td><input type="text" class="form-control" name="sMajor" placeholder="major"></td>
                    <td><button type="submit" class="btn btn-primary">Query</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="qTeacherTable" style="display:none">
            <table class="table">
                <thead>
                <tr>
                    <th>Teacher ID</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Course</th>
                    <th>Query</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" name="tID" placeholder="teacher ID"></td>
                    <td><input type="text" class="form-control" name="tName" placeholder="teacher's name"></td>
                    <td><input type="text" class="form-control" name="tSex" placeholder="teacher's sex"></td>
                    <td><input type="text" class="form-control" name="tCourse" placeholder="teaching course"></td>
                    <td><button type="submit" class="btn btn-primary">Query</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="qCourseTable" style="display:none">
            <table class="table">
                <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Name</th>
                    <th>Teacher ID</th>
                    <th>Credit</th>
                    <th>Grade</th>
                    <th>Canceled Year</th>
                    <th>Query</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" name="cID" placeholder="course ID"></td>
                    <td><input type="text" class="form-control" name="cName" placeholder="course's name"></td>
                    <td><input type="text" class="form-control" name="cTID" placeholder="teacher's ID"></td>
                    <td><input type="text" class="form-control" name="cCredit" placeholder="credit"></td>
                    <td><input type="text" class="form-control" name="cGrade" placeholder="grade"></td>
                    <td><input type="text" class="form-control" name="cCanYear" placeholder="canceled year"></td>
                    <td><button type="submit" class="btn btn-primary">Query</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="qCCITable" style="display:none">
            <table class="table">
                <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Course ID</th>
                    <th>Teacher ID</th>
                    <th>Chosen Year</th>
                    <th>Score</th>
                    <th>Query</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" name="cciSID" placeholder="student ID"></td>
                    <td><input type="text" class="form-control" name="cciCID" placeholder="course ID"></td>
                    <td><input type="text" class="form-control" name="cciTID" placeholder="teacher ID"></td>
                    <td><input type="text" class="form-control" name="cciChoYear" placeholder="chosen year"></td>
                    <td><input type="text" class="form-control" name="cciScore" placeholder="score"></td>
                    <td><button type="submit" class="btn btn-primary">Query</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="qStatisticTable" style="display:none">
            <h4>Hints:</h4>
            <p>
                You can only query with one restrict shown as below.<br>
                If none was chosen, the statistic data of all students will be returned.<br>
                If multiple attributes was chosen, the first restriction will be taken.
            </p>

            <table class="table">
                <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Course ID</th>
                    <th>Major</th>
                    <th>Query</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" name="staSID" placeholder="student ID"></td>
                    <td><input type="text" class="form-control" name="staCID" placeholder="course ID"></td>
                    <td><input type="text" class="form-control" name="staMajor" placeholder="major"></td>
                    <td><button type="submit" class="btn btn-primary">Query</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<script type="text/javascript">
    // let studentTable = document.getElementById("qStudentTable");
    // studentTable.hidden = true;
    // let teacherTable = document.getElementById("qTeacherTable");
    // teacherTable.hidden = true;
    let studentTable = $("#qStudentTable");
    let teacherTable = $("#qTeacherTable");
    let courseTable = $("#qCourseTable");
    let CCITable = $("#qCCITable");
    let statisticTable = $("#qStatisticTable")
    studentTable.hide();
    teacherTable.hide();
    courseTable.hide();
    CCITable.hide();
    statisticTable.hide();
    $(document).ready(function () {
        $("#qRadioGroup").click(function () {
            setTimeout(function () {
                const queryType = $("input[name='queryType']:checked").val();
                //console.log(queryType);
                if (queryType ==="student") {
                    studentTable.show();
                    teacherTable.hide();
                    courseTable.hide();
                    CCITable.hide();
                    statisticTable.hide();
                } else if (queryType ==="teacher"){
                    studentTable.hide();
                    teacherTable.show();
                    courseTable.hide();
                    CCITable.hide();
                    statisticTable.hide();
                } else if (queryType ==="course"){
                    studentTable.hide();
                    teacherTable.hide();
                    courseTable.show();
                    CCITable.hide();
                    statisticTable.hide();
                } else if (queryType ==="cc-info"){
                    studentTable.hide();
                    teacherTable.hide();
                    courseTable.hide();
                    CCITable.show();
                    statisticTable.hide();
                } else if (queryType ==="statistic"){
                    studentTable.hide();
                    teacherTable.hide();
                    courseTable.hide();
                    CCITable.hide();
                    statisticTable.show();
                } else {
                    studentTable.hide();
                    teacherTable.hide();
                    courseTable.hide();
                    CCITable.hide();
                    statisticTable.hide();
                }
            })
        })
    })
</script>